.head-title {
  text-align: right;
}

.hero-img {
  height: auto;
  margin: 0;
}

.head-image {
  padding-top: 25px;
  padding-bottom: 15px;
  opacity: 90%;
}

.project-img{
  padding-top: 20px;
  padding-bottom:20px;
  /*border: solid; */
}

.git-logo{

  display:inline-block;
  margin:auto;
}

.git-log{
  text-align: center;
}

.project-title{
  text-align: center;
}

.footer-link{
  text-align: center;
}
