html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
}
.header-page{
  border-bottom: 1px solid #a6a6a6;
  padding-bottom:2px;
  margin:15px 0 15px;
}
.head-image {
  padding-top: 15px;
  padding-bottom: 30px;
}
.head-title {
  text-align: right;
}
.main-img{
  opacity: 1;
}
.hero-img {
  height: auto;
  margin: 0;
}
/*Work-Header: undocumented class*/
.project-img{
  padding: 8px 8px 8px 8px;
}
.project-img:hover {
  background-color: #f1f1f1;
  border-color: blue;
}
.project-title{
  text-align: center;
}
.project-img{color:#22acdd}
.project-img:focus,.project-img:hover{opacity:.7;border:2px solid;}
.footer-content{
  padding: 10px;
  margin-top:20px;
  background-color: #fafafa;
  border-top: 1px solid #a6a6a6;
}
.git-log{
  padding-top: 0px;
  text-align: center;
}
.foot-img{
   margin-left: 10px;
   margin-right: 10px;
}
.footer-copyright{
  padding-top: 8px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .Work-Header{
    text-align: center;
  }
  .img-box{
    width: 75%;
    height:75%;
    margin: auto;
    align-content: center;
    border: thick;
  }
}
