span{
  display:inline;
}

.head-title {
  text-align: right;
}

.hero-img {
  height: auto;
  margin: 0;
}

.main-img{
  opacity: 1;

}



.head-image {
  padding-top: 15px;
  padding-bottom: 30px;
  opacity: 90%;
}

.project-img{

  padding: 8px 8px 8px 8px;
/*  border: solid;
  border-width: thin;
  border: solid; */


}

.project-img:hover {
  background-color: white;
  border-color: blue;

}

.footer-content{
  padding: 10px;
  margin-top:20px;

  border-top:1px solid #eee}
}
.git-logo{

  display:inline-block;
  margin:auto;
}

.git-log{
 padding-top: 0px;
  text-align: center;
}

.project-title{
  text-align: center;
}

.footer-link{
  text-align: center;
}






.footer-copyright{
  padding-top: 8px;
  text-align: center;
}

.foot-img{
  margin-left: 10px;
  margin-right: 10px;
}

footer{
/*  background-color: #D3D3D3;*/
}






.project-img{color:#22acdd}

.project-img:focus,.project-img:hover{opacity:.7}





@media screen and (max-width: 768px) {

  .Work-Header{
    text-align: center;

  }

  .img-box{
    width: 75%;
    height:75%;
    margin: auto;
    align-content: center;
    border: thick;
  }

}
